.loading {
    box-sizing: border-box;
    width: 114px;
    height: 114px;
    border: 12px solid rgba(144, 140, 140, 0.582);
    border-top: 12px solid rgba(255, 255, 255, 0.705);
    border-radius: 50%;
    margin-top: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}